<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 希望 Vue 能够控制下面的这个 div，帮我们在把数据填充到 div 内部 -->
  <div id="app">
    <p>用户的名称是: {{ username }}</p>
    <!-- v-model双向绑定指令,一般配合表单一起使用 -->
    <!-- 给input标签加入了v-model的属性后,一旦input里面的值修改了,
    等同于v-model里面对应的数据也在数据源里更改了,
    页面上的对应数据也会重新渲染(这是个同步的过程) -->
    <input type="text" v-model="username">
    <hr>
    <select v-model="city">
        <option value="">请选择</option>
        <option value="2">北京</option>
        <option value="3">上海</option>
        <option value="4">福州</option>

    </select>


  </div>

  <!-- 1. 导入 Vue 的库文件，在 window 全局就有了 Vue 这个构造函数 -->
  <script src="./lib/vue-2.6.12.js"></script>
  <!-- 2. 创建 Vue 的实例对象 -->
  <script>
    // 创建 Vue 的实例对象
    const vm = new Vue({
      // el 属性是固定的写法，表示当前 vm 实例要控制页面上的哪个区域，接收的值是一个选择器
      el: '#app',
      // data 对象就是要渲染到页面上的数据
      data: {
        username:'zs',
        city:'',
    },
      methods: {
        
      },
    })
  </script>
</body>

</html>